version: "3"
services:
      apigateway:
         image: golang:1.10.4
         build: .
         ports:
            - "8000:8000"
         hostname: "apig"
         volumes:
            - ./apig:/go/src/gomessenger/apig
         networks: 
            - mynet
         tty: true
         command:
            /go/src/gomessenger/apig/scripts/build.sh
            /go/src/gomessenger/apig/cmd/apig
      msngrserver1:
         image: "golang:1.10.4"
         hostname: msngrserve1
         volumes:
            - ./server:/go/src/gomessenger/server
         networks: 
            - mynet
         tty: true
      db:
         image: "harisekhon/hbase:latest"
         hostname: "hbasedb"
         networks: 
            - mynet

networks:
  mynet:
         
