version: "3"
services:
      mqserver:
         image: rabbitmq:latest
         hostname: "mqserver"
         networks: 
            - mynet
      db:
         image: "harisekhon/hbase:latest"
         hostname: "hbasedb"
         command: bash -c "echo create \"gomessenger\", \"user_details\", \"active_users\", \"user_login_details\", \"messeges\", \"ucount\"|hbase shell"
         networks: 
           - mynet

networks:
  mynet:
         
